<h1>New movie</h1>

<% @the_movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%= form_with(url: movies_path) do %>
 <div>

  <%= label_tag :title_boxy, "Title" %>

  <%= text_field_tag :query_title, @the_movie.title, { id: "title_box"} %>
    <input type="text" id="title_box" name="query_title" value="<%= @the_movie.title %>">
  </div>

  <div>
    <label for="description_box">
      Description
    </label>

    <textarea id="description_box" name="query_description" rows="3"><%= @the_movie.description %></textarea>
  </div>

  <button>
    Create Movie
  </button>

<% end %>

 