<div>
  <div>
    <h1>
      Movie <%= @the_movie %> details
    </h1>

    <div>
      <div>
      <%= link_to "Go Back", movies_path %>
      </div>

      <div>
     <%= link_to "Edit Movie", edit_movie_path(@the_movie) %>
        
      </div>

      <div>
        <%= link_to "Delete Movie", movie_path(@the_movie) %>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_movie.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_movie.description %>
      </dd>

      <dt>
        Created at
      </dt>

      <dd>
        <%= time_ago_in_words(@the_movie.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_movie.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
